*{
    margin: 0;
    
    box-sizing: border-box;
}

header{
    background-image: url("../img/pattern.png");
    height: 70px;
    background-size: contain;
    background-color: #4FA0FF;
}

#logo{
    width: 150px;
    margin-top: 30px;
}

#author{
    color: #4FA0FF;
}

.credits{
    color: darkgray;
}

.date{
    font-size: 10px;
}

#ph-description{
    font-size: 10px;
}

.divider{
    padding-top: 20px;
}

table{
    text-align: left;

}
#td3{
    width: 600px;
}

#td12{
    width: 200px;
}

#blueline{
    background-color: #20A9E5;
}

#lightblue{
    background-color: #B2E4F2;
}

.related{
    width: 300px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px ;
}

.pc{
    background-image: url("../img/monitor.jpg");
}

.display{
    background-image: url("../img/graph.jpg");
}