*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url("../img/pattern.png");
    height: 70px;
    background-size: contain;
    background-color: #4FA0FF;
}

#logo{
    width: 150px;
    margin-top: 30px;
}

#author{
    color: #4FA0FF;
}

.credits{
    color: darkgray;
}

.date{
    font-size: 10px;
}

#ph-description{
    font-size: 10px;
}